# IDE configurations
.idea
.vscode

# Dependency directories
node_modules

# coverage files
coverage

# lock files
package-lock.json
yarn.lock

# build files
esm
lib
dist

# local files
.codegraph
RELEASE_NOTES.md
IMPROVEMENT_PLAN.md
